.header{
  background-color:rgb(3, 182, 41);
  height: 60px;
  width: 100%;
  position: fixed;
  top:0;
  .header-menu{
    display: flex;
    justify-content: space-between;
    .header-title{
      color: antiquewhite;
      font-family: fantasy;
      line-height: 60px;
      font-size: 43px;
      font-weight: bold;
      text-align: center;
    }
  }
}