.edit-user{
  background-color: #f3f3f3;
  padding-top: 80px;
  .card{
    padding-top: 10px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    background-color: cadetblue;
    box-shadow: 5px 5px 5px gray;
    &-left{
      height: 100%;
      &-top{
        height: 30%;
        &-icon{
          &-pic{
            background-image: url("kuma.jpg");
            background-size: cover;
            height: 100px;
            width: 100px;
            border-radius: 50px;
          }
        }
        &-name{
          font-weight: bold;
          font-family: cursive;
          font-size: 30px;
        }
      }
      &-bottom{
        height: 70%;
        font-family: cursive;
        font-size: 20px;
        color: whitesmoke;
        .profile{
          width: 100%;
          height: 100px;
          overflow: scroll;
        }
        .spot{
          width: 100%;
          height: 70px;
          overflow: scroll;
        }
        .favorite{
          width: 100%;
          height: 70px;
          overflow: scroll;
        }
        .email{
          width: 100%;
          height: 70px;
          overflow: scroll;
        }
      }
    }
  }
}