.user{
  background-color: #f3f3f3;
  padding-top: 60px;
  .card{
    padding-top: 10px;
    border-radius: 10px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    background-color: cadetblue;
    box-shadow: 5px 5px 5px gray;
    &-left{
      height: 100%;
      width: 70%;
      &-top{
        height: 30%;
        &-icon{
          background-image: url("kuma.jpg");
          background-size: cover;
          height: 100px;
          width: 100px;
          border-radius: 50px;
        }
        &-name{
          font-weight: bold;
          font-family: cursive;
          font-size: 40px;
          color: whitesmoke;
          letter-spacing: 4px;
        }
      }
      &-bottom{
        height: 70%;
        font-family: cursive;
        font-size: 20px;
        color: whitesmoke;
        .profile{
          height: 33%;
          width: 100%;
          overflow: scroll;
        }
        .spot{
          height: 33%;
          width: 100%;
          overflow: scroll;
        }
        .favorite{
          height: 33%;
          width: 100%;
          overflow: scroll;
        }
      }
    }
    &-right{
      height: 100%;
      width: 30%;
      &-top{
        height: 50%;
        text-align: center;
        margin-top: 40px;
        &-content{
          background-color: green;
          border-radius: 8px;
          display: inline-block;
          padding: 20px;
          &-text{
            display: inline;
            font-size: 25px;
            color: antiquewhite;
            font-family: monospace;
            font-weight: bold;
          }
        }
      }
      &-bottom{
        height: 50%;
        margin: 0 auto;
        .edit-user{
          color: whitesmoke;
          border: 2px solid green;
          text-decoration: none;
          background-color: cadetblue;
          padding: 4px;
          border-radius: 5px;
          line-height: 150px;
        }
      }
    }
  }
  .card:before{
    position: absolute;
    content: '';
    top: -15px;
    right: 10px;
    height: 73px;
    width: 22px;
    border: 3px solid #C0C0C0;
    background-color: none;
    border-radius: 12px;
    box-shadow: 1px 1px 2px #ccc;
    transform: rotate(10deg);
    z-index: 1;
  }
  .card:after{
    position: absolute;
    content: '';
    top: 0px;
    width: 10px;
    right: 20px;
    border: solid 5px cadetblue;
    z-index: 1;
  }
  .hunt-title{
    color: forestgreen;
    font-size: 35px;
    font-family: fantasy;
  }
  .hunt{
    background-color: white;
    border-radius: 10px;
    height: 600px;
    margin: 0 auto;
    background-color: white;
    overflow: scroll;
    position: relative;
    &-head{
      height: 50px;
      position: absolute;
      top:0;
      cursor: pointer;
      &-left{
        border-right: 1px solid gray;
      }
      li:hover{
        background-color: lightblue;
      }
      .border-blue{
        border-bottom: 5px solid blue;
      }
    }
    &-contents{
      .hunt-animal{
        margin-top: 70px;
        overflow: scroll;
        &-image{
          width: 350px;
          height: 350px;
          padding: 10px;
          &-pic{
            background-size: cover;
            background-position: center;
            padding-top:100%;
            border:1px solid lightgrey;
            border-radius: 3px;
          }
        }
      }
      .like-animal{
        margin-top: 70px;
        overflow: scroll;
        &-image{
          padding: 10px;
          &-pic{
            background-size: cover;
            background-position: center;
            padding-top:100%;
            border:1px solid lightgrey;
            border-radius: 3px;
          }
        }
      }
    }
  }
}




